#section,
.heroGridContainer,
.heroBox,
.against,
.heroMiniDetailContainer,
.againstContainer,
.draftSelectContainer,
.draftSelectBtn,
.suggestlist,
.gridContainerStyle {
    display: flex;
}
.videoBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.header {
    margin-bottom: 20px;
    justify-content: center;
}

#section {
    flex-direction: row;
    gap: 20px;
    height: 75vh;
    margin-top: 20px;
    /* background-color: green; */
}
.heroGridContainer {
    /* background-color: rgba(255, 0, 0, 0.233); */
    flex-direction: column;
    flex: 3;
}

.draftingContainer {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    /* background-color: rgba(0, 0, 255, 0.192); */
    flex: 1;
}

.heroClassGridContainer {
    /* background-color: rgba(137, 43, 226, 0.329); */
    display: grid;
    column-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex: 3;
}
.heroMiniDetailContainer {
    background-color: rgba(104, 104, 104, 0.555);
}

.tbmContainer {
    position: relative;
    height: 200px;
    grid-column: span 2;
    /* background-color: rgba(0, 255, 0, 0.349); */
}
.draftSelectContainer {
    position: absolute;
    /* background-color: rgba(255, 0, 0, 0.158); */
    width: 100%;
    bottom: 0;
}
.draftSelectBtn {
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex: 1;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.draftSelectBtn:hover {
    transform: scale(1.1);
}

.selectTeam {
    background: linear-gradient(to bottom, var(--green-01), var(--green-02));
}
.selectTeam:hover {
    box-shadow: 0 0 15px var(--green-02);
}
.selectBan {
    background: linear-gradient(
        to top,
        var(--neutral-02),
        var(--locked-gray-01)
    );
}
.selectBan:hover {
    box-shadow: 0 0 15px var(--neutral-02);
}

.selectEnemy {
    background: linear-gradient(to bottom, var(--red-01), var(--red-02));
}

.selectEnemy:hover {
    box-shadow: 0 0 15px var(--red-02);
}

.againstContainer {
    /* background-color: rgba(255, 255, 0, 0.178); */
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.against {
    /* background-color: rgba(0, 195, 255, 0.349); */
    margin-bottom: 10px;
    gap: 50px;
}

.videoGifContainer {
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.gifVideo {
    width: 340px;
    height: auto;
    object-fit: cover;
    object-position: -30px -10px;
}

.suggestlist {
    /* background-color: rgba(0, 217, 255, 0.336); */
    flex-direction: column;
    overflow: scroll;
}

.heroClassIcon {
    position: absolute;
    top: 8px;
    left: 8px;
}
.core {
    background-color: rgba(255, 192, 203, 0.671);
}
.gridContainerStyle {
    flex: 1;
    flex-wrap: wrap;
}
.gridStyle {
    box-shadow: 0 0 6px rgba(243, 243, 243, 0.466);
    height: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.gridStyle:hover {
    z-index: 2;
}
.gridImgStyle {
    border: 2px solid transparent;
    transition: border 0.2s ease, transform 0.2s ease;
}

.gridImgStyle:hover {
    transform: scale(1.5);
    border: 1px solid black;
}

.againstSpan {
    margin-top: 4px;
    margin-left: 4px;

    color: black;
}
