.videoBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.header {
    margin-bottom: 20px;
    justify-content: center;
}
#section, .heroGridContainer, .heroBox {
    display: flex;
}
#section {
    flex-direction: row;
    gap: 20px;
    height: 100%;
    margin-top: 20px;
}
.heroGridContainer {
    background-color: red;
    flex-direction: column;
    flex: 3;
}

.draftingContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
    flex: 1;
}

.heroClassGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: aquamarine;
    flex: 3;
}
.heroMiniDetailContainer{
    background-color: pink;
    flex: 1;
}

.tbmContainer {
    grid-column: span 2;
}