:root {
    --locked-gray-01: rgb(87, 78, 78);
    --green-01: #286323;
    --green-02: #7af03c;
    --green-03: rgba(40, 99, 35, 0.8);
    --green-04: rgba(122, 240, 60, 0.8);
    --red-01: #632323;
    --red-02: #f03c3c;
    --red-03: rgba(99, 35, 35, 0.8);
    --red-04: rgba(240, 60, 60, 0.8);
    --neutral-01: #828685;
    --neutral-02: #d2d6d5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body {min-width: 1200px;}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.main {
    min-height: 100vh;
    position: relative;
    padding: 0 80px;
}

.flexRow {
    display: flex;
    align-items: center;
    flex-direction: row;
}
