.container {
  position: relative;
  width: 200px;
  height: 100px;
  transform: rotate(180deg);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.innerContainer {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.image {
  transform: rotate(180deg);
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  max-width: 250px;
  max-height: 240px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}



