.container {
  position: relative;
  width: 150px;
  height: 140px;
  transform: rotate(180deg);
  clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.innerContainer {
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  transform: rotate(180deg);
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  max-width: 250px;
  max-height: 240px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
